*.exe
*.lib
*.obj
*.suo
*.u2d
Debug/
Release/
*.pdb
*.user
*.list
*.lst
*.cbc
*.cbb
*.hds
*.ddn
*.zta
*.zobs
*.ucn
*.bsv
*.out
*.grb
*.bin
*.sg
*.30
*.output.dat
*.csv
*.chk

*.pyc
*.mod
*.pui
*.bak

*.aux
*.idx
*.lof
*.log
*.lot
*.synctex.gz
*.toc
*_genmod.f90

.idea/
*.o

.ipynb_checkpoints/

*.depend
*.layout
*.delta

Thumbs.db

*.blg

*.bat
