pytest!=8.1.0
pytest-xdist
appdirs
requests
numpy
matplotlib
bmipy
affine
scipy
pandas
netcdf4
pyshp
rasterio
fiona
descartes
pyproj
shapely
rasterio
rasterstats
jupyter
jupytext
pooch
GitPython
pyvista
ruff